html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.main{
  min-height: 100%;
  text-align: left;
}

.main img {
}

.about_me{
}

.main p{
  max-width: 500px;
}

.portfolio{
  margin: 0 auto;
  color: #E4E6DB;
  width: 70%;
}

.portfolio img{
  height: 190px;
  width: auto;
  margin: 20px 30px;
  display: block;
  float: left;
}
.portfolio p{
  margin: 40px 0;
}

.portfolio div{
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

.ammie_face{
  height: 100%;
  margin: 0 auto;
}

.ammie_pic{
  min-height: 100%;
  margin: 0 auto;
}

nav{
  margin: 0 auto;
  position: absolute;
  left: 20%;
  top: 2%;
}

nav img{
  width: 10%;
  height: 50px;
  width: auto;
  margin: 8px;
}
