html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.main{
  min-height: 100%;
  z-index: 2;
  position: relative;
  text-align: left;
}

.main img {
  margin: 15px auto;
}

.about_me{
  padding: 30px 0 0 90px;
}

.main p{
  max-width: 500px;
}

.portfolio{
  max-width: 200px;
  margin: 70px 0 0 90px;
}

.portfolio  a, .portfolio img{
  height: 120px;
  width: auto;
  display: block;
}

.ammie_face{
  height: 100%;
  width: auto;
  z-index: 1;
  position: absolute;
  /*text-align: center;*/
  margin: 0 auto;
  left: 0;
  right: 0;
}

.ammie_pic{
  min-height: 100%;
  margin: 0 auto;
}

footer{
  z-index: 4;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px 60px 0 0;
  /*clear: both;*/
}

footer img, footer a{
  position: relative;
  height: 50px;
  width: auto;
  clear: both;
}
