body{
  font-family: 'Open Sans',Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 19px;
  line-height: 1.4;
  color: black;
  background-color: #101417;
}

.ammie_face{
  opacity: 0.6;
  background-image: url("http://i.imgur.com/ZM3HtdX.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header{
  font-size: 4em;
  font-weight: light;
}
